.runner-icon {
  font-size: 1.5rem;
  text-align: center;
  transform: translate(-50%, -100%);
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-tooltip {
  font-weight: bold !important;
  background: rgba(255, 255, 255, 0.9) !important;
  border: 2px solid #1976d2 !important;
}